@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 0 5rem;
}

/* ------------------------
HEADER
------------------------ */

header {
  height: 8rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  width: min(20rem, 30vw);
}

#logo-icon {
  height: 4rem;
  margin-right: 1rem;
}

h1 {
  color: #fff;
}

.header-right {
  width: min(30rem, 40vw);
  background-color: aqua;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

header input[type="search"],
header input[type="radio"] {
  height: 2rem;
  border-radius: 2rem;
  appearance: none;
  background-color: transparent;
  outline: 2px solid #fff;
}

header input[type="search"] {
  border: none;
  flex: auto;
}

header input[type="radio"] {
  flex: 0 0 2rem;
}
